@font-face {
    font-family: 'Degular Demo Thin';
    src: url(/FONTS/Degular/DegularDemo-Thin.otf);
}

@font-face {
    font-family: 'Degular Display Demo Semibold';
    src: url(/FONTS/Degular_Display/DegularDisplayDemo-Semibold.otf);
}

@font-face {
    font-family: 'Degular Display Demo Thin';
    src: url(/FONTS/Degular_Display/DegularDisplayDemo-Thin.otf);
}