body {
    background-color: #f8f8e6;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 123px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid #1c1b1f;
    padding: 0 30px 0 30px;
  }
  
  
  footer {
    display: grid;
    grid-template-columns: 358.71px 1fr;
    grid-template-rows: 530.75px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: solid 1px #1c1b1f;
  }
  
  .footer1 {
    grid-area: 1 / 1 / 2 / 2;
    border-right: solid 1px #1c1b1f;
    padding: 18.4px 0 18px 18px;
  }
  
  .footer1 img {
    height: 340.62px;
    width: 262.95px;
    object-fit: cover;
  }
  
  .footer1 p {
    font-family: "degular_display_demo", sans-serif;
    font-weight: 300;
    font-size: 22.25px;
    margin-top: 115px;
  }
  
  .footer2 {
    grid-area: 1 / 2 / 2 / 3;
    padding: 48px 48px 0 48px;
  }
  
  .footer2 p {
    font-family: "degular_mono_demo", monospace;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: -8%;
    color: #1c1b1f70;
  }
  
  .footer2 p a {
    font-family: "degular_mono_demo", monospace;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: -8%;
    color: #1c1b1f70;
    text-decoration: none;
    padding-right: 40px;
    margin-right: 8px;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='40px' viewBox='0 -960 960 960' width='40px' fill='%231C1B1F70'%3e%3cpath d='M234.54-268.46 212-291l424.23-425H251.54v-32h440v440h-32v-384.69l-425 424.23Z'/%3e%3c/svg%3e")
      no-repeat right center;
  }
  
  .footer2 p a:hover {
    text-decoration: underline;
  }
  
  .site_map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .site_map_chunk {
    width: auto;
  }
  
  .site_map_chunk p {
    font-family: "degular_display_demo", sans-serif;
    font-weight: 300;
    font-size: 26.25px;
    color: #1c1b1f70;
    margin-bottom: 53px;
  }
  
  .site_map_chunk div {
    display: flex;
    flex-direction: column;
  }
  
  .site_map_chunk_link {
    width: min-content;
    margin-bottom: 1px;
    font-family: "degular_display_demo", sans-serif;
    font-weight: 300;
    font-size: 26.65px;
    color: #1c1b1f;
    text-decoration: none;
    padding-right: 40px;
    white-space: nowrap;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='40px' viewBox='0 -960 960 960' width='40px' fill='%231C1B1F'%3e%3cpath d='M234.54-268.46 212-291l424.23-425H251.54v-32h440v440h-32v-384.69l-425 424.23Z'/%3e%3c/svg%3e")
      no-repeat right center;
  }
  
  .site_map_chunk_link:hover {
    text-decoration: underline;
  }
  
  .hidden {
    display: none !important;
  }
  
  .logo svg {
    width: 72.33px;
    height: 45.39px;
    margin: 9px 9px 0 0;
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .centered {
    height: auto;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-container {
    width: 800px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .centered-links {
    color: #1c1b1f;
    text-align: center;
    text-decoration: none;
    font-size: 27.99px;
    letter-spacing: -1%;
    line-height: 100%;
    font-weight: 100;
    font-family: "degular_demo", sans-serif;
  }
  
  .centered-links:hover {
    text-decoration: underline;
  }
  
  .right {
    float: right;
    display: flex;
    align-items: center;
    margin: 9px 9px 0 0;
  }
  
  .signin-n-out {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: right;
  }
  
  .user {
    height: 45.39px;
    height: 45.39px;
    border-radius: 100px;
    margin-left: 14px;
  }
  
  .login {
    margin-right: 10px;
    border: 1px solid #1c1b1f;
    background-color: #1c1b1f;
    cursor: pointer;
    transition: 0.3s;
    padding: 5.5px 10px 5.5px 10px;
  }
  
  .login a {
    font-family: "degular_demo", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #f8f8e6;
    font-size: 27.99px;
    text-decoration: none;
  }
  
  .login:hover {
    color: #1c1b1f;
    background-color: #f8f8e6;
    border: 1px solid #1c1b1f;
  }
  
  .login a:hover {
    color: #1c1b1f;
    text-decoration: none;
  }
  
  .signup {
    padding: 5.5px 10px 5.5px 10px;
    text-align: center;
    border: 1px solid #1c1b1f;
    background-color: #1c1b1f;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .signup a {
    font-family: "degular_demo", sans-serif;
    font-weight: 500;
    color: #f8f8e6;
    font-size: 27.99px;
    text-decoration: none;
  }
  
  .signup:hover {
    color: #1c1b1f;
    background-color: #f8f8e6;
    border: 1px solid #1c1b1f;
  }
  
  .signup a:hover {
    color: #f8f8e6;
    text-decoration: none;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }

  .container__header {
    width: 70vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 4vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .container__header--title {
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'degular_display_demo', sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    color: #1c1b1f;
  }

  .shopping-cart-id {
    grid-area: 2 / 1 / 3 / 2;
    font-family: 'degular_mono_demo', monospace;
    font-size: 1em;
    color: #1c1b1fb0;
  }

  .container__header--logo {
    grid-area: 1 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container__body--hr {
    width: 70vw;
    border: .5px solid #1c1b1f7e;
    margin: 20px 0 20px 0;
  }

  .container__body--container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 90% 10%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .container__body--items {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__body--item {
    width: 100%;
    display: grid;
    grid-template-columns: 8vh repeat(3, 1fr) 5vw;
    grid-template-rows: 5vh 3vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .container__body--item-img {
    grid-area: 1 / 1 / 3 / 2;
  }

  .container__body--item-title {
    grid-area: 1 / 2 / 2 / 5;
  }

  .container__body--item-amount {
    grid-area: 2 / 2 / 3 / 3;
  }

  .container__body--item-price {
    grid-area: 2 / 3 / 3 / 4;
  }

  .container__body--item-amount_total {
    grid-area: 2 / 4 / 3 / 5;
  }

  .container__body--item-remove {
    grid-area: 1 / 5 / 3 / 6;
  }

  .container__body--reciept {
    grid-area: 1 / 2 / 2 / 3;
  }

  .container__body--checkout {
    grid-area: 2 / 2 / 3 / 3;
  }