body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    background-color: #1c1b1f;
}

body a svg {
    width: 72.33px;
    height: 45.39px;
    margin-left: 3.6vh;
    margin-top: -96vh;
    position: relative;
}

.hidden {
    display: none !important;
}

.form {
    height: 100vh;
    background-color: #f8f8e6;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery {
    height: 100vh;
    background-color: #f8f8e6;
    grid-area: 1 / 2 / 2 / 3;
}

form {
    margin-left: 3.6vh;
}

.title {
    font-family: 'degular_display_demo', sans-serif;
    font-weight: 600;
    font-size: 5vh;
}

.warning {
    font-family: 'degular_mono_demo', monospace;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-bottom: 5px;
}

.textinputs {
    margin-bottom: 10px;
    background-color: #f8f8e6;
    border: 1px solid #1c1b1f;
    border-radius: 1px;
    width: 27vw;
    font-family: 'degular_demo', sans-serif;
    font-weight: 100;
    font-size: 2.5vh;
    padding-left: 10px;
}

.tologin {
    font-family: 'degular_demo', sans-serif;
    font-weight: 400;
    font-size: 1.01vw;
    color: #1c1b1f;
    text-decoration: none;
}

.tologin:hover {
    text-decoration: underline;
}

button {
    background-color: #1c1b1f;
    border: 1px solid #1c1b1f;
    border-radius: 1px;
    width: 27vw;
    font-family: 'degular_demo', sans-serif !important;
    font-weight: 100 !important;
    font-size: 2.5vh !important;
    color: #f8f8e6;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #f8f8e6;
    border: 1px solid #1c1b1f;
    color: #1c1b1f;
}

label {
    cursor: pointer;
}

.gallery {
    overflow: hidden;
}

.gallery_container {
    width: inherit;
    height: inherit;
}

.gallery_container img {
    width: inherit;
    height: 100vh;
    object-fit: cover;
}

.author {
    position: relative;
    width: fit-content;
    height: auto;
    padding: 10px;
    border: 1px solid #1c1b1f;
    margin: -38px 0 0 -1px;
    background-color: #f8f8e6;
}

.author p {
    position: relative;
    font-family: "degular_mono_demo", monospace;
    font-weight: 100;
    line-height: 100%;
    color: #1c1b1f;
}

.author p a{
    color: #1c1b1f;
    text-decoration: none;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%231C1B1F'%3e%3cpath d='m248.74-237.38-53.28-53.29 398.12-398.12H233.37v-75.75h489.25v489.08H646.7v-360.05L248.74-237.38Z'/%3e%3c/svg%3e")
    no-repeat right bottom;
    padding-right: 24px;
}

.author p a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #1c1b1f;
}

.notify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notify h1 {
    font-family: 'degular_display_demo';
    font-size: 2.1em;
}

.notify label {
    font-family: 'degular_demo';
    font-size: 1.2em;
    cursor: default;
}

.notify a {
    font-family: 'degular_demo';
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%231C1B1F'%3e%3cpath d='m248.74-237.38-53.28-53.29 398.12-398.12H233.37v-75.75h489.25v489.08H646.7v-360.05L248.74-237.38Z'/%3e%3c/svg%3e") no-repeat right bottom;
    padding-right: 20px;
    color: #1c1b1f;
    text-decoration: none;
}

.notify a:hover{
    text-decoration: underline;
}